﻿@model SupporTix.ViewModels.NewTicketViewModel
@{
    ViewBag.Title = "NewTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Ticket</h2>

@using (@Html.BeginForm("Create", "Tickets"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.Name)
        @Html.TextBoxFor(t => t.Ticket.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.Facility)
        @Html.TextBoxFor(t => t.Ticket.Facility, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.Facility)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.Email)
        @Html.TextBoxFor(t => t.Ticket.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.Phone)
        @Html.TextBoxFor(t => t.Ticket.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.Phone)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.RequestType)
        @Html.DropDownListFor(t => t.Ticket.RequestType, new SelectList(Model.RequestTypes, "Id", "Name"), "Select One", new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.RequestType)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.Details)
        @Html.TextAreaFor(t => t.Ticket.Details, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.Details)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}