﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SupporTix</h1>
    <p class="lead">SupporTix is a support ticket management and CRM system.</p>
    <p><a href="Tickets/NewTicket" class="btn btn-primary btn-lg">Request Support &raquo;</a></p>
    <p><a class="support-button" href="Tickets/NewTicket">Request Support &raquo;</a></p>
</div>
