    
.navbar-right {
    border-bottom: solid 1px rgba(99, 216, 143, 0.22);
}
.limited-text{

    height:300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sticker {
	position: -webkit-sticky;  
    position: sticky;
    top: 0; 
    background: #5887f7;
    color: white;
        margin-top: 50px;
}
.sticker .row-title{
	color: white;
    font-weight: 800;
}
.sticker .row-title:after {
    background-color: #77deac;
}
#clinic .sticker{
	z-index: 2;
}
#hospital .sticker{
	z-index: 1;
}
#hospital {
    margin-top: 100px;
    position: relative;
    min-height: 500px;
}
#statewide {
	margin-top: 0px;
    padding-bottom: 60px;
    position: relative;
}
#statewide .sticker{
	z-index: 3;
}
#footer .email {
	font-size: 12px;
}
#features-holder .feature-box {
    background-color: #406bd0;
}
#features-holder2 .feature-box {
    background-color: #406bd0;
}

#features-links-holder .icons-axis {
	padding-top: 45px;
}


#features-links-holder .icons-axis {
    position: absolute;
    width: 542px;
    height: 214px;
    right: 0;
    top: 50%;
    margin-top: -33px;
    border-radius: 200px;
    text-align: center;
    padding-top: 58px;
}
#features-links-holder2 .icons-axis {
    padding-top: 45px;
}


#features-links-holder2 .icons-axis {
    position: absolute;
    width: 542px;
    height: 214px;
    right: 0;
    top: 50%;
    margin-top: -33px;
    border-radius: 200px;
    text-align: center;
    padding-top: 58px;
}
.clinic-content .web-advanced {
    font-size: 14px;
    color: #777493;
    line-height: 1.8;
}
.clinic-title {
    font-size: 22px;
    font-weight: 900;
}
#hospital .top-link {
    background: #ca1450;
    padding: 25px 20px;
    border: 1px solid #e0e0e8;
    border-bottom: 0px;
}
#hospital .top-link a{
    color: white;
    font-weight: 600;
}
.clinic-box .clinic-content {
    border-radius: 0px 0px 10px 10px;
}
.topfourty {
    margin-top: 50px !important;
}
.headerbanner {
        border: 1px solid #e0e0e8;
    background-color: #fcfcfd;
    -webkit-box-shadow: 0 9px 18px rgba(0, 0, 0, 0.08);
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    position: relative;
    padding: 27px 27px 27px 27px;
}
.headerbanner img {
    border-radius: 10px;
    max-width: 100%;
}
.clickhere p{
        color: white;
    background: #39ca73;
    padding: 10px 5px;
    margin-bottom: 15px;
}
.highlighted {
    background-color: #ffe169;
}
.highlighted .row-title {
    color: #5d5151;
    font-weight: 800;
    border: solid 1px #ccae3a;
}
.techno {
        padding-top: 4px;
    padding-bottom: 5px;
}
.menucat {
    padding: 10px 5px;
    border-bottom: solid 1px #d3d3d3;
    background: #39ca73;
    color: white;
    margin-top: 15px;
    font-weight: 600;
}
.environment {
        padding: 60px 50px;
    background-color: #3d65ab;
    border-radius: 10px;
    transition: all 0.8s ease;
    color: white;
    margin: 50px;
}
.environment .feature-title-holder {
        font-size: 25px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}
.environment p {
     font-family: 'Montserrat', sans-serif;
         line-height: 1.98571;
}
#program {
    right: auto;
}
#features-links-holder2 {
    margin-bottom: 25px;
}
#features-links-holder {
    margin-bottom: 25px;
}
#features-holder {
    min-height: 450px;
}
#features-holder2 {
    min-height: 450px;
}
.header-text {
    color: white;
    font-size: 18px;
    font-weight:500;
}
.links-holder {
    border: 1px solid #e0e0e8;
    background-color: #fcfcfd;
    -webkit-box-shadow: 0 9px 18px rgba(0, 0, 0, 0.08);
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    position: relative;
    padding: 27px 27px 27px 27px;
}
#more-info .links-holder ul li .info-link:hover, #more-info .links-holder ul li .info-link:focus, #more-info .links-holder ul li .info-link.opened {
    background-color: #5987f7;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
    width: 100%;
    color: white;
}
#more-info .links-holder ul {
    width: 100%;
}
#more-info .links-holder ul li .info-link {
    color: #8a8181;
}
.info-details-holder .info-details p {
    color: #000000;
}
.info-details-holder .info-details h1 {
    color: #6f6f6f;
    margin-top: 60px;
    font-size: 27px;
}
#more-info {
    background-color: #fff;
}
#key-staff p {
    padding: 15px;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    border: 1px solid #e0e0e8;
    background-color: #fdfdfd;
    border-radius: 5px;
}
#key-staff h2 {
    color: #5987f7;
    font-weight: 200;
    font-size: 20px;
}
#key-staff h4{
    font-size: 16px;
}
.margin-fifty {
    margin-top: 50px;
}
#Accordion .item {
    padding: 10px;
    margin-left: 40px;
}
.item a {
    font-size: 16px;
    font-weight: 600;
}
.mb-3 {
    background: #ebf1ff;
    padding: 10px;
}
.card {
    border: solid 1px;
    padding: 15px;
    border-radius: 5px;
    margin: 15px;
}
.testimonial {
    background: #edf3ff;
    padding: 25px;
    margin: 10px;
}
.testimonial h3 {
    color: #586890;
    font-size: 15px;
}
.testimonial h3 span {
    font-weight: 600;
    color: #4a78f9;
    font-size: 22px;
}
.testimonial p {
    color: #413e5b;
    font-size: 16px;
    font-weight: 300;
}
.case {
        padding: 5px 25px;
}
.client-sidebar {
    padding: 15px;
    background: #f1f1ff;
    border: solid 1px #415ba2;
}
.client-sidebar h2{
        color: #5987f7;
    font-weight: 600;
}
#new-release {
    display: none;
}